body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.calc-body {
  display: flex;
  margin: 30px auto 0 auto;
  width: 350px;
  height: 500px;
  background: #373737;
  border-radius: 20px;
}

.calc-buttons {
  display: flex;
  /* width: 290px; */
  /* margin: 0 auto; */
  padding: 10px;
  align-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: #000;
}

.calc-display {
  width: 270px;
  height: 60px;

  flex-shrink: 0;
  background: linear-gradient(93deg, #ff9c9c 0%, #ffaeae 100.66%);
  border-radius: 10px;
}

.calc-small-button {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background: linear-gradient(135deg, #ff6969 0%, #ff9d9d 100%);
  border-radius: 10px;
}
